﻿@using System.Security
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Casey Hargarther</title>

    <environment names="Development">

        <!-- <link type="text/css" rel="stylesheet" href="~/css/site.css" /> -->
        <script type="text/javascript" src="https://use.fontawesome.com/c2bc541b89.js"></script>
        <link type="text/css" rel="stylesheet" href="~/css/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="~/css/overrides.css" />
        <link type="text/css" rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro|Roboto' rel='stylesheet' type='text/css'>

    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="https://use.fontawesome.com/c2bc541b89.js"></script>
        <link type="text/css" rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        <link type="text/css" rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro|Roboto' >

        <link type="text/css" rel="stylesheet" href="https://cdn.caseyhargarther.com/css/bootstrap.css"
              asp-fallback-href="~/css/bootstrap.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link type="text/css" rel="stylesheet" href="https://cdn.caseyhargarther.com/css/overrides.css"
              asp-fallback-href="~/css/overrides.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <script type="text/javascript">
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-51571203-2', 'auto');
            ga('send', 'pageview');

        </script>
    </environment>
</head>
<body>
    <!-- Header -->
    <header id="layout-header">
        <!-- Nav -->
        <nav id="layout-nav" class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars" style="color:white;"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Casey Hargarther</a>
                </div>
                <div class="collapse navbar-collapse navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home</a></li>
                        <li class=""><a asp-area="" asp-controller="Home" asp-action="Resume"><i class="fa fa-briefcase"></i> Resume</a></li>
                        <li class=""><a asp-area="" asp-controller="Home" asp-action="Portfolio"><i class="fa fa-database"></i> Portfolio </a></li>
                        <!-- Coursework Dropdown -->
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle" role="button" aria-expanded="false"><i class="fa fa-archive"></i> Coursework <i class="fa fa-caret-down"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-header" role="presentation"><i class="fa fa-mobile"></i> Fall 2014: LIS4381  Mobile Applications using HTML and CSS</li>
                                <li><a href="http://casey.technology/LIS4381/A1/index.html" target="_blank"><i class="ion-social-html5"></i> Individual Assignment 1: Basic Sticks</a></li>
                                <li><a href="http://casey.technology/LIS4381/A2/index.htm" target="_blank"><i class="ion-android-walk"></i> Individual Assignment 2: Rose Hill Rally</a></li>
                                <li><a href="http://casey.technology/LIS4381/A3/index.htm" target="_blank"><i class="icon ion-pizza"></i> Individual Assignment 3: Pizza Order Form</a></li>
                                <li><a href="http://casey.technology/LIS4381/A5/index.html" target="_blank"><i class="ion-ios-game-controller-b"></i> Group Assignment 5: 321 Game Review</a></li>
                                <li class="divider"></li>
                                <li><a href="http://casey.technology/LIS4381/P1/index.html" target="_blank"><i class="fa fa-server"></i> Group Project 1: GreenData</a></li>
                                <li><a href="http://casey.technology/LIS4381/P2/index.html" target="_blank"><i class="fa fa-home"></i> Group Project 2: North Florida Home Inspections</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header" role="presentation"> <i class="fa fa-bitbucket-square"></i> Spring 2015: LIS4368 Advanced Web Development using PHP</li>
                                <li><a href="http://coursework.caseyhargarther.com/A1/index.php" target="_blank"><i class="fa fa-git-square"></i> Individual Assignment 1: Functions, Git, and Array </a></li>
                                <li><a href="http://coursework.caseyhargarther.com/A2/index.php" target="_blank"><i class="fa fa-code"></i> Individual Assignment 2: OOP, Object Mapping, and Persistence </a></li>
                                <!--<li><a href="http://rocket.caseyhargarther.com" target="_blank" disabled><i class="fa fa-rocket"></i> Individual Final Project: Rocket Televisions (Laravel and ORM) </a></li>-->
                                <li class="divider"></li>
                                <li class="dropdown-header" role="presentation"><i class="fa fa-desktop"></i> Fall 2015: LIS4910 Information Technology Project</li>
                                <li><a href="http://www.placesintallahassee.com" target="_blank" disabled><i class="fa fa-globe"></i> Group Project: Things to do in Tallahassee (Laravel)</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Casey Hargarther - All Rights Reserved</p>
        </footer>
    </div>

<environment names="Development">
    @* <script src="~/lib/jquery/dist/jquery.js"></script>*@
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>

<environment names="Staging,Production">
        <script type="text/javascript" src="https://cdn.caseyhargarther.com/lib/jquery/dist/jquery.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script type="text/javascript" src="https://cdn.caseyhargarther.com/lib/bootstrap/dist/js/bootstrap.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script type="text/javascript" src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
