﻿@{
    ViewData["Title"] = "Project 2: LIS3784 Fall 2014";
}
<div class="row">
    <a href="#statements" class="btn btn-primary"><i class="fa fa-database"></i> Project Two <small> SQL Statements</small></a>
    <p> This was the final project for the database course. At this point, the course moved from using MySQL to Microsoft SQL. I learned a lot from doing this assignment because unlike using MYSQL Workbench to generate the create and insert statements, this required me to do all of the database functions with the exception of the select statements and select insert statements manually for the first time.</p>
    <br />
    <div class="col-md-6">
        <ul>
            Business Rules:
            <li> A physician will prescribe one or more treatments.</li>
            <li> A treatment can be prescribed by one or more physicians.</li>
            <li> A patient can receive one or more treatments.</li>
            <li> A treatment can be prescribed to one or more patients.</li>
            <li> Each prescribed treatment on a specific date, can be prescribed by only one physician to one patient.</li>
            <li> A patient can have many medications. </li>
            <li> Many medications can be given to many patients. </li>
            <li> A prescription can be administered in one or more treatments.</li>
            <li> A treatment can include one or more prescriptions.</li>
        </ul>
    </div>
    <div class="col-md-6">

        <a href="~/images/LIS3784/LIS3784_P2.png">
            <img class="img-responsive img-thumbnail" src="~/images/LIS3784/LIS3784_P2.png" style="height:330px" alt="P2-LIS3784" />
        </a>


    </div>
    <div class="col-md-7 col-md-offset-3">
        <p id="statements" class="text-center" style="margin: 12px auto 6px auto; font-family: Helvetica, Arial, Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block;">
            <a title="View LIS3784_p2_cbh12e on Scribd" href="https://www.scribd.com/doc/288145737/LIS3784-p2-cbh12e" style="text-decoration: underline;">LIS3784_p2_cbh12e</a>
        </p><iframe class="scribd_iframe_embed" src="https://www.scribd.com/embeds/288145737/content?start_page=1&view_mode=scroll&show_recommendations=true" data-auto-height="false" data-aspect-ratio="undefined" scrolling="no" id="doc_32098" width="100%" height="600" frameborder="0"></iframe>
    </div>
</div>
