﻿@using System.Security
@{
    ViewData["Title"] = "Project 1: LIS3784 Fall 2014";
}
<div class="row">
    <a href="#statements" class="btn btn-primary"><i class="fa fa-database"></i> Project One <small> SQL Statements</small></a>
    <br />
    <p> This was the first project for the database course, this will allow you to see how I have progressed.</p>

    <p>
        Project Objective: As the IT Director for Financial Accountants Inc., I was asked to create an online
        family finance database for clients who will record credits (income) as well as debits
        (expenses), in order to keep track of monthly/yearly budgets.
    </p>
    <div class="row">
        <div class="col-md-6">
            <ul>
                Business Rules:
                <li> A financial institution provides many types of *accounts.</li>
                <li> Many types of accounts are available at many financial institutions.</li>
                <li> Many accounts can be associated with many users.</li>
                <li> Many users can have many accounts, but must have at least one.</li>
                <li> Many transactions are processed from many accounts.</li>
                <li> However, each transaction is processed from a specific account.</li>
                <li> Many users make many transactions.</li>
                <li> However, each transaction is processed by only one user.</li>
                <li> A budget category is used in many transactions.</li>
                <li> However, each transaction can only use one budget category.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <a href="~/images/LIS3784/LIS3784_P1.png">
                <img class="img-responsive img-thumbnail" src="~/images/LIS3784/LIS3784_P1A.png" style="height: 330px" alt="P1-LIS3784" />
            </a>
        </div>

    </div>
    <div class="col-md-7 col-md-offset-3">
        <p id="statements" style="margin: 12px auto 6px auto; font-family: Helvetica, Arial, Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block;">
            <a title="View P1_SQL on Scribd" href="https://www.scribd.com/doc/288145739/P1-SQL" style="text-decoration: underline;">P1_SQL</a>
        </p><iframe class="scribd_iframe_embed" src="https://www.scribd.com/embeds/288145739/content?start_page=1&view_mode=scroll&show_recommendations=true" data-auto-height="false" data-aspect-ratio="undefined" scrolling="no" id="doc_9353" width="100%" height="600" frameborder="0"></iframe>
    </div>
</div>
