﻿@using System.Security
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/images/wtc.JPG" alt="Casey Hargarther" asp-append-version="true">
            <div class="caption">
                <h3>Casey Hargarther</h3>
                <p>Information Technology Professional</p>
                <p>
                    <a asp-area="" asp-controller="Home" asp-action="Resume" class="btn btn-primary btn-sm" role="button"><i class="fa fa-book"></i> Resume</a>
                    <a asp-area="" asp-controller="Home" asp-action="Portfolio" class="btn btn-primary btn-sm" role="button"><i class="fa fa-database"></i> Portfolio</a>
                    <a href="https://twitter.com/CaseyHargarther" class="btn btn-info btn-sm" role="button"><i class="fa fa-twitter"></i> Twitter</a>
                    <a href="http://www.linkedin.com/in/caseyhargarther" class="btn btn-info btn-sm" role="button"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="jumbotron">
            <h1>Welcome </h1>
            <p class="lead">
                My name is Casey Hargarther. I am a recent graduate at Florida State University with a Bachelor's Degree in Information Technology. I am very passionate about what I do and I am very eager to succeed.
                The fields that specialize in are Web Development, Project Management, Technical Support, and Database Administration.
                This website shows examples of what I have accomplished during my tenure at Florida State University and beyond.
            </p>
        </div>
    </div>
</div>