﻿@{
    ViewBag.Title = "Portfolio";
}

<div class="row">
    <div class="col-md-8">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-4">
        <a href="#database" class="btn btn-info btn-lg"> <i class="fa fa-database"></i> Databases</a>
        &nbsp;
        <a href="#websites" class="btn btn-info btn-lg"> <i class="fa fa-globe"></i> Websites</a>
    </div><!-- /.col -->
</div><!-- /.row -->
<hr>
    <h2 id="websites"> <i class="fa fa-globe"></i> Web Development Portfolio</h2>
<hr />
    <div class="col-md-12">
        <!-- Waco Storage Units Pioneer Stor Lok -->
        <div class="row">
            <div class="col-md-10">
                <blockquote class="embedly-card" data-card-key="afcb7b48cdd541daa8387c35d318233a" data-card-controls="0" data-card-type="article-full"><h4><a href="https://www.wacostorageunits.com">Pioneer Stor & Lok - Waco, TX | Home</a></h4><p>Pioneer Stor and Lok is committed to provide affordable self-storage. This storage facility offers storage solutions for both your personal and business needs.</p></blockquote>
                <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
            </div>
        </div>


        <!-- GreenData -->
        <div class="row">

            <div class="col-md-10">
                <button type="button" class="btn btn-info pull-right btn-lg" data-toggle="modal" data-target="#greenData"> Learn More</button>

                <a class="embedly-card" href="http://casey.technology/LIS4381/P1">GreenData</a>
                <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>


            </div>
        </div>

        <!-- North Florida Home Inspections -->
        <div class="row">
            <div class="col-md-10">
                <button type="button" class="btn btn-info pull-right btn-lg" data-toggle="modal" data-target="#nfhi"> Learn More</button>
                <a class="embedly-card" href="http://casey.technology/LIS4381/P2">North Florida Home Inspections</a>
                <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>


            </div>

        </div>

        <!-- Places in Tallahassee -->
        <div class="row">
            <div class="col-md-10">
                <blockquote class="embedly-card" data-card-key="afcb7b48cdd541daa8387c35d318233a">
                    <h4><a href="http://www.placesintallahassee.com">Places in Tallahassee</a></h4>
                    <p>Whether you are a visitor, new student, transfer-student or a resident of Tallahassee or Leon County, there are a lot of things to do in Florida's Capitol City. This website was created to list the activities that anyone can do in Tallahassee.</p>
                </blockquote>
                <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
            </div>
        </div>
    </div>

    <!-- Rocket Products -->
    <!--   <div class="row">
                <div class="col-md-10">
               <blockquote class="embedly-card" data-card-key="afcb7b48cdd541daa8387c35d318233a"><h4><a href="http://rocket.caseyhargarther.com/info">Rocket Televisions</a></h4><p>Since the founding of Rocket Televisions in 2015, Rocket Televisions is a family owned and operated business that specializes in selling televisions to customers nationwide. Rocket Televisions only sells top of the line televisions that will satisfy you or we will refund you if you are not satisified with our products within a thirty day period.</p></blockquote>
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    </div>
    </div>-->
    <div class="col-md-10">
        <p class="lead">
            <a class="embedly-card" href="http://casey.technology/LIS4381/A5">321 Game Review</a>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </p>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h2><i class="fa fa-code"></i> Website Contributions</h2>
        </div>
    </div>

<!-- Assignments Row LIS2780 -->
<div class="row">
    <hr>
    <h2 id="database"> <i class="fa fa-database"></i> Database Portfolio</h2>
    <h3> Database Concepts - Fall 2013 <small>Database Management</small></h3>

    <!-- /.row -->
    <hr>
    <!-- Projects Row LIS2780 -->
    <div class="row">

        <div class="col-md-5 portfolio-item">
            <div class="thumbnail">

                <a href="#">
                    <img class="img-rounded" src="~/images/LIS2780/P1_LIS2780.png" alt="P1" style="height:250px" asp-append-version="true" />
                </a>
                <h3>
                    <a href="#">Project One</a>
                </h3>

            </div>

        </div>
        <div class="col-md-5 col-md-offset-1 portfolio-item">
            <div class="thumbnail">

                <a href="#">
                    <img class="img-rounded" src="~/images/LIS2780/P2_LIS2780.png" alt="P2" style="height:250px" asp-append-version="true" />
                </a>
                <h3>
                    <a href="#">Project Two</a>
                </h3>

            </div>
        </div>



    </div>
    <!-- /.row -->
    <hr>
    <!-- Projects Row -->
    <h3>Information Organization and Communication - Fall 2014</h3>
    <div class="row">


        <div class="col-md-3 portfolio-item">
            <div class="thumbnail">
                <a href="#">
                    <img class="img-responsive" src="~/images/LIS3784/LIS3784_A2P.png" alt="A2 LIS3784" style="height:150px" asp-append-version="true" />
                </a>
                <h3>
                    <a href="#">Assignment Two</a>
                </h3>
            </div>
        </div>
        <div class="col-md-3 portfolio-item">
            <div class="thumbnail">
                <a href="#">
                    <img class="img-responsive" src="~/images/LIS3784/LIS3784_A3.png" alt="A3 LIS3784" style="height:150px" asp-append-version="true" />
                </a>
                <h3>
                    <a href="#">Assignment Three</a>
                </h3>
            </div>
        </div>
        <div class="col-md-3 portfolio-item">
            <div class="thumbnail">


                <a href="#">
                    <img class="img-responsive" src="~/images/LIS3784/LIS3784_A4.png" alt="LIS3784 A4" style="height:150px" asp-append-version="true" />
                </a>
                <h3>
                    <a href="#">Assignment Four</a>
                </h3>

            </div>
        </div>
        <div class="col-md-3 portfolio-item">
            <div class="thumbnail">


                <a href="#">
                    <img class="img-responsive" src="~/images/LIS3784/LIS3784_A5.png" alt="LIS3784 A5" style="height:150px" asp-append-version="true" />
                </a>
                <h3>
                    <a href="#">Assignment Five</a>
                </h3>

            </div>
        </div>
    </div>
</div>

    <hr>
    <div class="row">
        <div class="col-md-5 portfolio-item">
            <div class="thumbnail">

                <a href="~/images/LIS3784/LIS3784_P1.png">
                    <img class="img-responsive" src="~/images/LIS3784/LIS3784_P1A.png" style="height:300px" alt="P1-LIS3784" asp-append-version="true" />
                </a>
                <h3>
                    <a href="~/pdf/SQL/P1_SQL.pdf">Project One <small>SQL Statements</small> </a> <a asp-area="" asp-controller="Project" asp-action="LIS3784_1" class="btn btn-primary pull-right"> Read More</a>
                </h3>

            </div>
        </div>
        <div class="col-md-5 portfolio-item col-md-offset-1">
            <div class="thumbnail">

                <a href="~/images/LIS3784/LIS3784_P2.png">
                    <img class="img-responsive" src="~/images/LIS3784/LIS3784_P2A.png" style="height:300px" alt="P2-LIS3784" asp-append-version="true" />
                </a>
                <h3>
                    <a href="~/pdf/SQL/LIS3784_p2_cbh12e.pdf">Project Two <small>SQL Statements</small></a>
                    <a asp-area="" asp-controller="Project" asp-action="LIS3784_2" class="btn btn-primary pull-right"> Read More</a>
                </h3>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <h3><i class="fa fa-ship"></i> CruiseOne - Project Tallahassee</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9 portfolio-item col-md-offset-1">
                <div class="thumbnail">

                    <a href="~/images/db_model.png">
                        <img class="img-responsive" src="~/images/db_model.png" style="height: auto; width: 100%;" alt="Project Tally" asp-append-version="true" />
                    </a>
                    <h3>
                        <a href="#">Booking File Storage Web Application</a>
                    </h3>

                </div>
            </div>
        </div>

    </div>

    <!-- Modals -->
    <div id="portfolio-modals">

        <!-- GreenData Modal -->
        <div id="greenData" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">GreenData Page</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            This project is what got myself interested in doing web development. This was a group assignment and the group was assignmed to create a website for a business called GreenData. I was responsible in the creation of the Customer Service Page. Futhermore,  I did various fixes to the other pages well after the assignment was due.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times-circle"></i> Close</button>
                    </div>
                </div>

            </div>
        </div>


        <!-- NFHI Modal -->
        <div id="nfhi" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">North Florida Home Inspections</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            This was the final project for LIS4381. We were assigned to create a page for an Home Inspection Company located in Panama City. I was the team leader for this assignment, and I saw my potential in having a career in web development and the ability to manage a team doing IT Projects.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times-circle"></i> Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
