﻿@{
    ViewBag.Title = "Resume";
}
<h2>@ViewBag.Title</h2>

<div class="text-right"> <a href="~/pdf/chargarther_resume.pdf" class="btn btn-primary"><i class="fa fa-download"></i> Download Resume</a></div>
<!-- PDF Button -->
<!-- Education -->
<div class="row">

    <h3><i class="fa fa-university"></i> Education</h3>
    <hr>

    <div class="col-md-6 col-xs-12 col-sm-12">
        <img class="img img-responsive pull-left" src="~/images/logo/fsu.png" alt="fsu logo" />
        <h4>
            <strong> Florida State University</strong> <br />  Main Campus
            <br /> Tallahassee, Florida
            <br /> January 2013 - December 2015
        </h4>
        Bachelor's in Science Degree
        <br />Information Technology
        <br /> Graduated: December 2015
    </div>

    <div class="col-md-6 col-xs-12 col-sm-12">
        <span class="hidden-xs hidden-sm">
            <img class="img img-responsive pull-right" src="~/images/logo/fscj.png" alt="fscj logo" />
        </span>
        <span class="visible-xs visible-sm">
            <img class="img img-responsive pull-left" src="~/images/logo/fscj.png" alt="fscj logo" />
        </span>
        <h4>
            <strong> Florida State College at Jacksonville</strong>
            <br />  South Campus
            <br />Jacksonville, Florida
            <br />August 2009 to December 2012
        </h4>
        Associates in Arts Degree
        <br /> General Education
        <br /> Graduated: December 2012
    </div>
</div>
<div class="row">
    <!-- Experience -->
    <div class="col-md-6">
        <h3><i class="fa fa-laptop"></i> Information Technology Experience</h3>
        <hr>
        <p>
            Recent college graduate with experience in web development and performing various computer repairs, software
            installation and hardware maintenance. Knowledge of numerous technical applications and programming languages. A
            motivated problem solver with an aptitude for innovation and solutions development. Communicative and personable
            professional who clearly and persuasively describes the benefits of various technologies and process improvements.
        </p>
    </div>

    <!-- Skills -->
    <h3> <i class="fa fa-code"></i> Technical Skills</h3>
    <hr>
    <div class="col-md-6">
        <ul>
            <li><b>Operating Systems:</b> Windows XP, 7, 8, 8.1, 10, Windows Server 2003, 2008, 2012, OS X and Linux</li>
            <li><b>Program Languages:</b> HTML, CSS, PHP , C#, ASP.NET, MVC ,JavaScript, AJAX and jQuery</li>
            <li><b>Frameworks: </b>WordPress, Laravel, Drupal and OctoberCMS </li>
            <li><b>Software and Protocols:</b> Microsoft SharePoint, Visual Studio, Adobe Photoshop, Microsoft Office, Active Directory, Account Management, Group Policy, TCP/IP, VLAN, SMTP, FTP, SFTP, SMB, FileZilla, PuTTY, Git, Apache, IIS, nginx </li>
            <li><b>Web Applications:</b> Google Analytics, Google AdSense, Amazon Web Service, Google Cloud Platform, Microsoft Azure </li>
        </ul>
    </div>
</div>

<div class="row">
    <!-- Work Experience -->
    <h3> <i class="fa fa-briefcase"></i> Professional Experience</h3>
    <hr>

    <div class="col-md-6">
        <div class="row">
            <!--<img class="img img-responsive pull-left" src="~/images/logo/wth.png" alt="wth logo" />-->
            <h4><strong>Information Technology Consultant</strong> <br /> <i> Dream Vacations</i> <br />  Ponte Vedra, Florida <br /> June 2016 to present</h4>
        </div>
        <ul>
            <li>Designed, created, coded and implemented a two-factor authentication based web application to make it easier for associates of the franchise to upload and retrieve records.</li>
            <li>Performed technical support, computer installation, system installation and performs routine maintenance.</li>
            <li>Extremely knowledgeable about cruise products and services across various market segments (i.e., luxury, premium, deluxe, mass-market, and niche)</li>
        </ul>
    </div>

    <div class="col-md-6">
        <div class="row">
            <img class="img img-responsive pull-left" src="~/images/logo/wth.png" alt="wth logo" />
            <h4><strong>Information Technology Intern</strong> <br /> <i> World Travel Holdings</i> <br />  Fort Lauderdale, Florida <br /> May 2015 to August 2015</h4>
        </div>
        <ul>
            <li>Offered valuable feedback to staff on how to improve and increase efficiency and performance in overhauling the website of the organization. </li>
            <li>Performed daily testing of the organization’s website to look for bugs in software throughout the overhaul process.</li>
            <li>Participated in weekly meetings with members of the Information Department to oversee how the entire department operates on a daily basis throughout the internship.</li>
        </ul>
    </div>
    <div class="col-md-6">
        <div class="row">
            <img class="img img-responsive pull-left" src="~/images/logo/pvwc.png" alt="pvwc logo" />
            <h4> <strong>Computer Service Technician</strong> <br /> <i> Ponte Vedra Wellness Center</i> <br /> Ponte Vedra Beach, Florida <br /> May 2011 to July 2011 </h4>
        </div>
        <ul>
            <li> Scanned patient medical records to facilitate the medical practice’s initiative to go paperless to meet the mandates by the Affordable Care Act.</li>
            <li> Played a key role performing computer repairs, computer installation, data backups, software installation, and routine maintenance.</li>
        </ul>
    </div>
</div>
